{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata"> Posté le {{ article.createdAt | date('d/m/Y') }} {# la tabulation | permet de donné la date et l heure exacte #}
            à {{ article.createdAt | date('H:i') }} dans la categorie :
            {{ article.category.name }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p>{{ article.content | raw }}</p> {# affiche le contenu brut | raw #}
        </div>
        {#<a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-success">Modifier mon produit</a>#}
        {#<hr width="75%">#}
    </article>


{% endblock %}