<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('all_articles') }}">Mes articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new_category') }}">Ajouter une catégorie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new_article') }}">Ajouter un article</a>
                </li>
            </ul>

        </div>
    </nav>
        <div class="row">
            <div class="container offset-1 col-8 ">
                {% block body %}{% endblock %}
            </div>

            {{ render (controller("App\\Controller\\BlogController::showNavBar")) }}

        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
